
body{
    background-color: yellowgreen;
}
#marqeeop{
    color:black;
    background-color:conrflowerblue;
}

#alumani2{
    text-align: center;
    color:rgb(0, 0, 0);
    font-weight:300;
    font-size:75px;
}
#campuslife div img{
  width:700px;
  margin-bottom:30px;
}
#campuslife div p{
    font-weight:500;
    font-style:oblique;
    font-size:large;
}
.campush2{
 font-style:normal;
 font-weight:200;
}
#campuslife center div h3{
        font-size:25px;
}
#campuslife center div h4{
    font-size:50px;
}
 #img21{
     margin-top:50px;
     padding:15px;
 }
#division span p{
 font-size:large;
 font-family:fantasy; 
 font-weight:500;
 margin-top:15px;
 padding: 12px;
}
#campush3{
    margin-top:13px;
}

#divison2001  span p{
    font-size:large;
    font-weight: 500;
    font-family: monospace;
    margin-top:20px;
}
#divison2001 span img{
    margin-top:20px;
}
#divison2001 h3{
    margin-top:30px;
    font-size:x-large;
}
#divison2002 span img{
    margin-top:30px;
    margin-bottom:15px;
    padding:13px;
}
#divison2002 span p{
    font-weight: 500;
    font-family:serif;
    font-size:large;
}
#divison2002 h3{
    margin-top:30px;
    font-family: sans-serif;
    font-size:large;
}
.img{
    width:150px;
}
#ContactUs iframe{
    float:left;
    margin-bottom:30px;
    margin-top:30px;
}
#ContacUs h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#img200{
    width:30px;
    height:30px;
}
  #img201{
   width:300px;
   height:300px;
   float:left;
}
#opimg{
    width: 30px;
    height: 30px;
}
#img201{
    padding: 25px;
}
#img200{
    padding:25px;
}
#imgage{
    width:1000px;
}

#opboltehai span img{
    width:250px;
}
#mate{
    position:fixed;
    top:0;
    width:100%;
   
    display:block;
    background-color: darkslategray;
    
}